<h1>To Do List</h1>
<form action="/car_added" method="post">
  <label for="make">Make and Model</label>
  <input id="make" name="make" type="text"> <br>
  <label for="price">Car Price</label>
  <input id="price" name="price" type="number"> <br>
  <label for="mileage">Car Mileage</label>
  <input id="mileage" name="mileage" type="number">

  <button type="submit">Submit</button>
</form>
