<h1>You've added a new task!</h1>
<p>Model: @Model.GetMake() <br>
  Price: $@Model.GetPrice() <br>
  Mileage: @Model.GetMileage()</p>
<p><a href="/">Add another car</a></p>
<p><a href="/view_cars">View Cars Available</a></p>
